<footer>
    <div class="container_12">
        <div class="grid_12">
            <p>Gerald Harris &copy; 2045 | <a href="#" class="upp">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a></p>
            <address>
                9870 ST VINCENT PLACE, GLASGOW, DC 45 FR 45.<br>
                TELEPHONE: +1 800 603 6035
            </address>
        </div>
        <div class="clear"></div>
    </div>
</footer>