<div class="top_block">
    <div class="slider-relative">
        <div class="slider-block">
            <div class="slider">
                <ul class="items">
                    <li>
                        <img src="~/images/slide.jpg" alt="">
                        <div class="banner">
                            The experience<br>
                            You May Trust
                        </div>
                    </li>
                    <li>
                        <img src="~/images/slide1.jpg" alt="">
                        <div class="banner">
                            Make a right<br>
                            Choise
                        </div>
                    </li>
                    <li>
                        <img src="~/images/slide2.jpg" alt="">
                        <div class="banner">
                            We will show you the<br>
                            way to success!
                        </div>
                    </li>
                    <li>
                        <img src="~/images/slide3.jpg" alt="">
                        <div class="banner">
                            Well being of our<br>
                            clients first!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container_12">
        <div class="grid_3">
            <div class="box"><img src="~/images/page1_img1.jpg" alt=""><a href="#" class="maxheight">Standarts<img src="~/images/link_bg.png" alt=""></a></div>
        </div>
        <div class="grid_3">
            <div class="box"><img src="~/images/page1_img2.jpg" alt=""><a href="#" class="maxheight">cases<img src="~/images/link_bg.png" alt=""></a></div>
        </div>
        <div class="grid_3">
            <div class="box"><img src="~/images/page1_img3.jpg" alt=""><a href="#" class="maxheight">Experience <img src="~/images/link_bg.png" alt=""></a></div>
        </div>
        <div class="grid_3">
            <div class="box"><img src="~/images/page1_img4.jpg" alt=""><a href="#" class="maxheight">Staff<img src="~/images/link_bg.png" alt=""></a></div>
        </div>
    </div>
</div>
<div class="content page1">
    <div class="container_12">
        <div class="grid_3">
            <img src="~/images/page1_img5.jpg" alt="">
            <div class="text1">family law and estate planning</div>
            <p class="col1"><a href="#">Click here</a> for more info about this free website template created by TemplateMonster.com </p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui bl abd  jll. <br>
            <a href="#" class="btn">more</a>
        </div>
        <div class="grid_3">
            <img src="~/images/page1_img6.jpg" alt="">
            <div class="text1">Corporate Law &amp; Litigation</div>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui bl abd gdihtii praesentium voluptatum deenir rf uiti jll atque. Corrupti quos doloregts et quas molestias excepturi sint  hip occaecati. At vero eos et  hhj  jk kjusamu. <br>
            <a href="#" class="btn">more</a>
        </div>
        <div class="grid_3">
            <img src="~/images/page1_img7.jpg" alt="">
            <div class="text1">Real Estate Litigation &amp; Transactions</div>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui bl abd gdihtii praesentium voluptatum deenir rf uiti jll atque. Corrupti quos doloregts et quas molestias excepturi sint  hip occaecati. At vero eos et  hhj  jk kjusamu. <br>
            <a href="#" class="btn">more</a>
        </div>
        <div class="grid_3">
            <img src="~/images/page1_img8.jpg" alt="">
            <div class="text1">
                Personal Injury<br>
                &nbsp;
            </div>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui bl abd gdihtii praesentium voluptatum deenir rf uiti jll atque. Corrupti quos doloregts et quas molestias excepturi sint  hip occaecati. At vero eos et  hhj  jk kjusamu. <br>
            <a href="#" class="btn">more</a>
        </div>
    </div>
</div>